.school_nav {
    display: flex;
    align-items: center;
}
.school_logo {
    height: 120px;
    width: 120px;
}
.visibility-eye {
    background: none;
    border: none;
}
body {
    background-image: url(../images/login-background.jpg);
}
.bg-image {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }